.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x-mandatory;
  
}

.carousel > carousel-item {
  display: flex;
  flex-shrink: 0;
  height: 300px;
  width: 100%;
  scroll-snap-align: start;
  scroll-behaviour: smooth;
}
